<div>
  <div class="card" style="width: 90vw;">
  <label class="title">VDI
    <button [hidden]="showAddVdi" class="addButton smaller" (click)="showAddVdi = !showAddVdi">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button [hidden]="showAddVdi" class="addButton smaller" (click)="addvdi(newvdi)">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
    <!-- <input placeholder="Type" [hidden]="showAddVdi" class="addButton smaller vdiform" [(ngModel)]="newvdi.type"> -->
    <select [hidden]="showAddVdi" class="addButton smaller vdiform" style="padding: 2px 0 3px 0" [(ngModel)]="newvdi.type">
      <option selected disabled value="">Type</option>
      <option value="basique">Basique</option>
      <option value="premium">Premium</option>
    </select>
    <!-- <input placeholder="Société" [hidden]="showAddVdi" class="addButton smaller vdiform" [(ngModel)]="newvdi.society"> -->
    <select [(ngModel)]="newvdi.society" [hidden]="showAddVdi" class="addButton smaller vdiform" style="padding: 2px 0 3px 0">
      <option selected disabled value="">Société</option>
      <option value="{{society.name}}" *ngFor="let society of companies">
        {{society.name}}
      </option>
    </select>
    <input placeholder="Email" [hidden]="showAddVdi" class="addButton smaller vdiform" [(ngModel)]="newvdi.email">
    <input placeholder="Tél" type="number" [hidden]="showAddVdi" class="addButton smaller vdiform" [(ngModel)]="newvdi.phone_number">
    <input placeholder="Adresse" [hidden]="showAddVdi" class="addButton smaller vdiform" [(ngModel)]="newvdi.address">
    <input placeholder="Prénom" [hidden]="showAddVdi" class="addButton smaller vdiform" [(ngModel)]="newvdi.first_name">
    <input placeholder="Nom" [hidden]="showAddVdi" class="addButton smaller vdiform" [(ngModel)]="newvdi.last_name">
    <input placeholder="Description" [hidden]="showAddVdi" class="addButton smaller vdiform" style="width: 78.5vw;" [(ngModel)]="newvdi.description">
    <button class="addButton" (click)="showAddVdi = !showAddVdi" [hidden]="!showAddVdi" mat-raised-button>
      Ajouter une VDI
    </button>
  </label>
  <div style="margin: auto">
    <table>
      <tr class="row" style="padding: 13px 10px 13px 10px;">
        <th style="width: 10vw"></th>
        <th style="width: 10vw">Nom</th>
        <th style="width: 10vw">Prénom</th>
        <th style="width: 10vw">Adresse</th>
        <th style="width: 10vw">Tél</th>
        <th style="width: 10vw">Email</th>
        <th style="width: 10vw">Société</th>
        <th style="width: 10vw">Type</th>
      </tr>
      <tr class="row" *ngFor="let user of users" style="padding: 13px 10px 13px 10px;">
        <td style="width: 5vw"><button (click)="updateVdi(user, 'n')">
          <span *ngIf='!user.edit' class="glyphicon glyphicon-pencil"></span>
          <span *ngIf='user.edit' class="glyphicon glyphicon-minus"></span>
        </button></td>
        <td style="width: 5vw"><button (click)='removeSoc(user)'><span class="glyphicon glyphicon-remove"></span></button></td>
        <td *ngIf="!user.edit" style="width: 10vw">{{user.last_name}}</td>
        <td *ngIf="!user.edit" style="width: 10vw">{{user.first_name}}</td>
        <td *ngIf="!user.edit" style="width: 10vw">{{user.address}}</td>
        <td *ngIf="!user.edit" style="width: 10vw">{{user.phone_number}}</td>
        <td *ngIf="!user.edit" style="width: 10vw">{{user.email}}</td>
        <td *ngIf="!user.edit" style="width: 10vw">{{user.company}}</td>
        <td *ngIf="!user.edit" style="width: 10vw">{{user.type}}</td>
        <td *ngIf="user.edit" class="rubberAppeare" style="width: 10vw"><input [(ngModel)]="fakechange[1]"></td>
        <td *ngIf="user.edit" class="rubberAppeare" style="width: 10vw"><input [(ngModel)]="fakechange[0]"></td>
        <td *ngIf="user.edit" class="rubberAppeare" style="width: 10vw"><input [(ngModel)]="fakechange[2]"></td>
        <td *ngIf="user.edit" class="rubberAppeare" style="width: 10vw"><input [(ngModel)]="fakechange[3]"></td>
        <td *ngIf="user.edit" class="rubberAppeare" style="width: 10vw"><input [(ngModel)]="fakechange[4]"></td>
        <td *ngIf="user.edit" class="rubberAppeare" style="width: 10vw"><input [(ngModel)]="fakechange[5]"></td>
        <td *ngIf="user.edit" class="rubberAppeare" style="width: 10vw !important"><input style="width: 5vw;" [(ngModel)]="fakechange[6]">
          <button class="rubberAppeare" (click)="updateVdi(user, 'y')"><span class="glyphicon glyphicon-ok"></span></button>
          <button class="rubberAppeare" (click)="updateVdi(user, 'n')"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
    </table>
  </div>
  </div>
</div>
