.background-theme {
  background-color: #753f63;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.middle {
  text-align: center;
}

.login-input {
  padding: 10px;
  width: 30vw;
  margin: 15px;
  border-radius: 5px;
}

.login-button {
  color: #FFF;
  width: 30vw;
  background-color: #753F63;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card {
    /* Add shadows to create the "card" effect */
    margin: auto;
    width: 40vw;
    height: 40vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
