<div>
  <div class="card" style="width: 90vw;">
  <label class="title">Catégories
    <button [hidden]="showAddCategorie" class="addButton" (click)="addCategorie(newNameCat)">
      <span *ngIf="newNameCat != ''" class="glyphicon glyphicon-ok"></span>
      <span *ngIf="newNameCat == ''" class="glyphicon glyphicon-remove"></span>
    </button>
    <input placeholder="Nom de la catégorie" [hidden]="showAddCategorie" class="addButton" [(ngModel)]="newNameCat">
    <button [hidden]="!showAddCategorie" mat-raised-button class="addButton" (click)="inputCategorie()">Ajouter une catégorie</button>
  </label>
  <div style="margin: auto">
    <table>
      <tr class="row" style="padding: 10px;">
        <th style="width: 15vw"></th>
        <th style="width: 15vw"></th>
        <th>Description</th>
      </tr>
      <tr class="row" *ngFor="let category of categories" style="padding: 10px;">
        <td style="width: 15vw">
          <button [hidden]="category.showAddSociety" (click)='category.showAddSociety = !category.showAddSociety'>Ajouter une société</button>
          <select [hidden]="!category.showAddSociety" class="rubberAppeareLeft">
            <option disabled selected value>Sélectionnez une société</option>
            <option *ngFor="let x of companies">{{x.name}}</option>
          </select>
          <button [hidden]="!category.showAddSociety" class="rubberAppeareLeft" (click)="category.showAddSociety = !category.showAddSociety"><span class="glyphicon glyphicon-ok"></span></button>
          <button [hidden]="!category.showAddSociety" class="rubberAppeareLeft" (click)="category.showAddSociety = !category.showAddSociety"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
        <td style="width: 5vw">
          <button *ngIf="!category.editing" (click)="updateCategorie(category, 'n')"><span class="glyphicon glyphicon-pencil"></span></button>
          <button *ngIf="category.editing" (click)="updateCategorie(category, 'n')"><span class="glyphicon glyphicon-minus"></span></button>
        </td>
        <td style="width: 5vw"><button (click)='removeCategorie(category)'><span class="glyphicon glyphicon-remove"></span></button></td>
        <td style="width: 5vw"><button (click)="showSocieties(category)"><span class="glyphicon glyphicon-search"></span></button></td>
        <td *ngIf="category.editing" style="width: 40vw"><input class="rubberAppeare" [(ngModel)]="fakechange">
          <button class="rubberAppeare" (click)="updateCategorie(category, 'y')"><span class="glyphicon glyphicon-ok"></span></button>
          <button class="rubberAppeare" (click)="updateCategorie(category, 'n')"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
        <td *ngIf="!category.editing" style="width: 40vw">{{category.name}}</td>
        <td></td>
      </tr>
    </table>
  </div>
  </div>
  <div *ngIf="showSoc" class="card" style="width: 90vw;">
    <label class="title">{{socSelected}}</label>
    <table style="margin: auto">
      <tr class="row" style="padding: 10px;">
        <th style="width: 5vw"></th>
        <th style="width: 65vw">Sociétés:</th>
      </tr>
      <tr class="row" *ngFor="let society of companies" style="padding: 10px;">
        <td style="width: 5vw;"><button><span class="glyphicon glyphicon-remove"></span></button></td>
        <td style="width: 65vw">{{society.name}}</td>
      </tr>
    </table>
  </div>
</div>
