<div>
  <div class="card" style="width: 90vw;">
  <label class="title">Catégories <button class="addButton">Ajouter une catégorie</button></label>
  <div style="margin: auto">
    <table>
      <tr class="row" style="padding: 10px;">
        <th style="width: 15vw"></th>
        <th style="width: 15vw"></th>
        <th>Description</th>
      </tr>
      <tr class="row" *ngFor="let boucle of boucles" style="padding: 10px;">
        <td style="width: 15vw"><button>Ajouter une société</button></td>
        <td style="width: 5vw"><button><span class="glyphicon glyphicon-pencil"></span></button></td>
        <td style="width: 5vw"><button><span class="glyphicon glyphicon-remove"></span></button></td>
        <td style="width: 5vw"><button><span class="glyphicon glyphicon-search"></span></button></td>
        <td style="width: 40vw">desc</td>
      </tr>
    </table>
  </div>
  </div>
</div>
