<div style="background-image : url('assets/img/fond_header.jpg'); background-size: cover" class="tab">
  <button class="tablinks">
    Logo
  </button>
  <button (click)="changePage('categories')" class="tablinks" value="categories">
    Catégories
  </button>
  <button (click)="changePage('societies')" class="tablinks" value="societies">
    Sociétés
  </button>
  <button (click)="changePage('vdi')" class="tablinks" value="vdi">
    VDI
  </button>
  <button (click)="changePage('lounge')" class="tablinks" value="lounge">
    Salons
  </button>
  <button (click)="changePage('recommendation')" class="tablinks" value="recommendation">
    Recommandation
  </button>
  <button (click)="changePage('deconnexion')" class="tablinks" value="deconnexion">
    Déconnexion
  </button>
</div>
<app-categories *ngIf="page == 'categories'"></app-categories>
<app-societies *ngIf="page == 'societies'"></app-societies>
<app-vdi *ngIf="page == 'vdi'"></app-vdi>
<app-lounge *ngIf="page == 'lounge'"></app-lounge>
<app-recommendation *ngIf="page == 'recommendation'"></app-recommendation>
